#ignore script log files
*.sh.*
*.log
denovo_assembly/raven.cereal
#ignore plots
*.tiff
*.png
#ignore data files
*.faa*
*.fa
*.fasta
*.gbff
*.bam*
*.blobDB.*
*.raxml.bestTree
*.raxml.bestModel
*.raxml.bootstraps
*.raxml.log
*.raxml.mlTrees
*.raxml.rba
*.raxml.startTree
*.raxml.bestTreeCollapsed
*.raxml.reduced.partition
*.raxml.reduced.phy
*.sbt
#ignore data directories
denovo_assembly/abyss/
denovo_assembly/spades/
denovo_assembly/megahit/
denovo_assembly/flye/
denovo_assembly/raven/
denovo_assembly/spades_hybrid/
assessment/*/
reads/*/
ncbi_upload/*/
annotation/funannotate/*/
annotation/repeat_masking/*/
